*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background: linear-gradient(#2f7e7e, #40abab);
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 18px;
}
header p{
    letter-spacing: 2px;
}

main .add{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

#add{
    padding: 6px;
    border-radius: 8px;
    width: 20%;
    color: #fff;
    background-color: #2f7e7e;
    border: #187038;
    transition: width 0.4s;
    cursor: pointer;
}
#add:hover{
    width: 22%;
    font-weight: 600;
}
nav{
    width: 100%;
    background-color: #40abab;
    height: 50px;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    
    
    padding: 12px;
    margin: 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 12px;
    margin: 0;
}

nav a:hover{
    background-color: #2f7e7e;
    font-weight: 600;
}

th, td , tr{
    padding: 9px;
}

thead th, tfoot tr{
    background-color: #2f7e7e;

}

table{
    overflow-x: auto;
}

table tr:nth-child(even){
    background-color: #40abab;
}
table tr:nth-child(odd){
    background-color: #c9caca;
}

table tr:hover{
    background-color: #8b8b8b;
}

form{
    display: none;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 8px;
}

input[type="submit"], .edit{
    background-color: #187038;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

input[type="reset"], .exc{
    background-color: #701818;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

footer{
background: linear-gradient(#2f7e7e, #40abab);
}

footer p{
    text-align: center;
}

@media screen and (max-width:500px) {
    nav{
        height: auto;
    }
   nav ul{
    flex-direction: column;
   }
   li{
    text-align: center;
   }

   form{
    width: 90%;
    grid-template-columns: 1fr;
    padding: 12px;
    justify-content: center;
    align-items: center;
   }
}